-#%h1 Change Phone Number
-#
-#= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.input :phone_number_temp, label: "New Phone Number", :required => true, :autofocus => true
  = f.input :current_password, label: "Password", :required => true
  = f.button :submit, "Submit"

