%h1 Phone Confirmation

%p 
  Please confirm your phone number by sending the following code from your phone number (
  =current_user.phone_number
  ):

%h1= current_user.confirmation_code

%p This code is valid for one hour.
