.row
  .small-6.small-centered.columns
    %h1.text-center The Nagging Machine
.row
  .panel.small-8.small-centered.columns
    %h3.text-center Do you have tasks you keep putting off?
    %p Tell The Nagging Machine and it will send you texts during the day to remind you. You can even interact with it via text commands. No browser necessary.
    %br
    .row
      .small-centered.small-12.medium-6.medium-centered.columns
        =link_to "Sign In", new_user_session_path, class: "button success expand"
        =link_to "Sign Up", new_user_registration_path, class: "button expand"
.row
  .small-8.small-centered.columns
    %hr
    %h3.text-center Frequently Asked Questions
    %p
      %strong How much does this cost?
      %br
      Nothing! For now, the costs of running the site are low enough that it can be offered for free.
    %p
      %strong How often will I be nagged?
      %br
      Each you get nagged, that nag will be rescheduled to text you between 4 and 7 hours later.
    %p
      %strong Will I be nagged in the middle of the night?
      %br
      No nags will be sent between 11PM and 10AM Eastern Standard Time.
    %p
      %strong My phone number is non-US. Can I use this service?
      %br
      Sorry, we currently only support US phone numbers.
