%h1 Welcome

%h3 Do you have tasks you keep putting off?
%p Tell The Nagging Machine and it will send you texts during the day to remind you.
%p You can even interact with it via text.

-if user_signed_in?
  %p 
    Signed in as 
    =link_to current_user.full_name, mynags_path
    | 
    =link_to "Sign Out", destroy_user_session_path, method: :delete
-else
  %p
    =link_to "Sign Up", new_user_registration_path if !user_signed_in?
    | 
    =link_to "Sign In", new_user_session_path if !user_signed_in?
  
