.row
  .small-6.small-centered.columns
    %h1.text-center The Nagging Machine
.row
  .panel.small-8.small-centered.columns
    %h3.text-center Do you have tasks you keep putting off?
    %p Tell The Nagging Machine and it will send you texts during the day to remind you. You can even interact with it via text commands. No browser necessary.
    %br
    .row
      .small-centered.small-12.medium-6.medium-centered.columns
        =link_to "Sign In", new_user_session_path, class: "button success expand"
        =link_to "Sign Up", new_user_registration_path, class: "button expand"

