.row
  .10.columns.centered
    %h1.text-center Welcome to the Nagging Machine
    .panel
      %h3.text-center Do you have tasks you keep putting off?
      %p Tell The Nagging Machine and it will send you texts during the day to remind you. You can even interact with it via text commands. No browser necessary.
  %img{src:"app/assets/images/clock.jpg"}

-if user_signed_in?
  %p
    Signed in as 
    =link_to current_user.full_name, mynags_path
    | 
    =link_to "Sign Out", destroy_user_session_path, method: :delete
-else
  %p
    =link_to "Sign Up", new_user_registration_path if !user_signed_in?
    | 
    =link_to "Sign In", new_user_session_path if !user_signed_in?
  
