%h1 My Nags

%table
  %thead
    %tr
      %th
        Remind me to...
      %th
        Status
  %tbody
    -@nags.each do |nag|
      %tr
        %td
          =nag.contents
        %td
          =nag.display_status
        %td
          =link_to "Done", done_nag_path(nag), method: :put
        %td
          =link_to "Edit", edit_nag_path(nag)

