%h1 
  My Nags - 
  =current_user.full_name

%table.nags-table
  %thead
    %tr
      %th
        Remind me to...
      %th
      %th
  %tbody
    -@nags.each do |nag|
      %tr.nag
        %td.nag-contents
          =nag.contents.capitalize
        %td.nag-done
          =link_to "Done", done_nag_path(nag), method: :put
        %td.nag-edit
          =link_to "Edit", edit_nag_path(nag)

