.row
  .small-11.small-centered.columns
    %h1 My Nags
.row
  .small-11.small-centered.columns
    %h4="#{current_user.full_name} - #{current_user.formatted_phone_number}"

.row
  %table.nags-table.small-11.small-centered.columns
    %thead.row
      %tr.small-12.columns
        .row
          %th
          %th
            Remind me to:
    %tbody.row
      -@nags.each do |nag|
        %tr{id: nag.id, class: "small-12 columns"}
          %td.nag-done.small-1.columns
            =check_box_tag 'Done', nag.id
          %td.nag-contents.small-12.columns
            =nag.contents.humanize
          -#%td.nag-edit
            =link_to "Edit", edit_nag_path(nag)
      -#if @nags.empty?
        %tr{id: "no-nags"}
          %td.nag-done
          %td.nag-contents
            Create a new nag

