.row
  .small-11.small-centered.columns
    %h1 My Nags
.row
  .small-11.small-centered.columns
    %h4="#{current_user.full_name} - #{current_user.formatted_phone_number}"

.row
  %table.nags-table.small-11.small-centered.columns
    %thead.row
      %tr.small-12.columns
        %th
        %th
          Nag Content
      %tbody#nags-table-body
        -@nags.each do |nag|
          %tr.nag-row.small-12.columns{id: nag.id}
            %td.nag-done.small-1.columns
              =check_box_tag 'Done', nag.id
            %td.small-12.columns
              %span.nag-contents
                =nag.contents.capitalize.truncate(45)
        %tr.nag-row.new-nag-row.small-12.columns
          %td.nag-done.empty.small-1.columns
            %input{type: "checkbox", style: "visibility: hidden;"}
          %td.small-12.columns
            %form.new-nag-form
              %input.new-nag-contents-input.small-12.columns{placeholder: "Remind me to..."}

