%h1 My Nags
%p
  Signed in as
  =@user.full_name
  | 
  =link_to "Sign Out", destroy_user_session_path, method: :delete
%p=link_to "New Nag", new_nag_path
-if @user.active?
  %p=link_to "Stop All Nags", stop_nags_path, method: :put
-else
  %p=link_to "Restart All Nags", restart_nags_path, method: :put

%p= link_to "Delete My Account", user_registration_path, data: {confirm: "Are you sure?"}, method: :delete

%table
  %thead
    %tr
      %th
        Nag Contents
      %th
        Status
  %tbody
    -@nags.each do |nag|
      %tr
        %td
          =nag.contents
        %td
          =nag.display_status
        %td
          =link_to "Done", done_nag_path(nag), method: :put
        %td
          =link_to "Edit", edit_nag_path(nag)

