/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation

 *= require_tree .
 */

@import 'foundation_and_overrides';

.navigation {
  border-left: solid 1px #E8E8E8;
  border-height: 80%;
  margin-top: 90px;
}

body {
  padding-top: 25px !important;
}

.nags-table {
  border-collapse: collapse;
  thead {
    border-bottom: 1px solid #e8e8e8;
  }
  tbody tr {
    td {
      border-bottom: 1px dashed #e8e8e8;
    }
    .nag-done {
      border-right: 1px dotted #ff6699;
    }
  }
}

.form-actions{
  .button {
    border-radius: 0 !important;
  }
}

@media only screen and (max-width: 40em) {
  .navigation {
    border-left: hidden;
    margin-top: 0;
  }
}


