.row
  %footer#footer.small-12.small-centered.columns
    %hr
    .small-10.small-centered.columns
      %p.left
        Hand-crafted by:
        %br.show-for-small-only
        =link_to "@MoZhuuuuu", "https://twitter.com/mozhuuuuu"
        %br
        a world class beginner at:
        %br.show-for-small-only
        =link_to "@launchacademy_", "https://twitter.com/launchacademy_"
